<div>
  <ul class="image-list">
    <li ng-repeat="image in ngModel">
      <img ng-click="removeImage($index)" ng-src="{{image}}" />
    </li>
  </ul>
  <div class="clearfix m-b"></div>
  <input type="file" upload-file-id="image-{{model._id}}" id="image-{{model._id}}" onchange="angular.element(this).scope().onFileSelect(this)" />
  <div class="m-t">
    <img ng-show="selectedImage" style="height: 200px;" id="selectedimage" ng-src="{{selectedImage}}" name="selectedImage" />
  </div>
  <button class="m-t btn btn-success" translate="Add Image to {{type}}" ng-click="addProductImage();$event.preventDefault()">Add Image to {{type}}</button>
</div>
