.image-list {
    margin: 0;
    padding: 0;
    clear: both;
    li {
        list-style-type: none;
        float: left;
        margin-right: 5px;
        position: relative;

        img {
            min-height: 30px;
            max-height: 63px;
            clip-path: inset(5% 5% 5% 5% round 10%);
        }

        &:hover {
            span.image-text {
                opacity: 1;
            }
        }
        span.image-text {
            background: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            display: table;
            position: absolute;
            bottom: 0;
            width: 100%;
            color: white;
            opacity: 0;
            transition: opacity 500ms;
            span {
                display: table-cell;
                text-align: center;
                vertical-align: middle;

                padding: 1px;
            }
        }
    }
}
